@using Online_magazine_Diploma.Models.ArticleModels;
@model IList<ArticlesViewModel>

<h1>Мои статьи</h1>


@using (Html.BeginForm("AddArticle", "Article", FormMethod.Get))
{
	<button type="submit"> Написать статью </button>
}

	<p>
		<table class="table">
			<tr>
				<td> Название
					(статус) </td>
				<td> Описание </td>
				<td> Текст </td>
				<td> Тип статьи </td>
			</tr>
		<tbody>

			@foreach (var p in Model)
			{
				<tr>
					<td>@p.Name @if (!p.IsApprovedForPublication && !p.IsEditNeeded)
						{
							<div style ="color:darkgray">(на проверке)</div>
						}
						else if (p.IsEditNeeded && !p.IsEdited)
						{
							<div style="color:brown">(требует изменений)</div>
							<form method="get" asp-action="EditArticle" asp-controller="Article" asp-route-id="@p.Id">
								<input type="submit" value="редактировать" />
							</form>
						}
						else if (p.IsEditNeeded && p.IsEdited)
						{
							<div style="color:darkgoldenrod">(изменения на проверке)</div>
						}
						else
						{
							<div style="color:chartreuse">(OK)</div>
						}</td>
					<td>@p.Description</td>
					<td>@p.Text</td>
					<td>@p.ArticleTypeName</td>
				</tr>
			}
		</tbody>
			
		</table>
	</p>

	
