@using Online_magazine_Diploma.Models.HomeModels;
@model TitelViewModel

<h1 class="Titel1">@Model.Name</h1>

<p class="Titel2">@Model.ImageAddress</p>
<div class="mainBox">
@foreach (var p in Model.TopArticles )
{
		<div class="mainArticleBox">
			<a class="mainArticleBox" asp-area="" asp-controller="User" asp-action="ReadArticle" asp-route-id="@p.Id"> @p.Name </a>

		</div>
		<div class="mainArticleDescriptionBox"> @p.Description </div>
	@if (!User.Identity.IsAuthenticated || User.IsInRole("User"))
	{
		<div>
			-------------------------------------------
			РЕКЛАМА РЕКЛАМА РЕКЛАМА РЕКЛАМА РЕКЛАМА РЕКЛАМА РЕКЛАМА
			-------------------------------------------
		</div>
	}
	else
	{
		<div>------------------------------------------------------</div>
	}
	
}