@using Online_magazine_Diploma.Models.AccountModels;
@model BeVipViewModel

<h1> Vip статус на 30 дней </h1>

@using (Html.BeginForm("BeVipPost", "Account", FormMethod.Post))
{
	<div>
		@Html.LabelFor(m => m.Email, "Email: ")
		@Html.TextBoxFor(m => m.Email)
		@Html.ValidationMessageFor(m => m.Email)
	</div>

	<div>
		@Html.LabelFor(m => m.CreditCard, "Номер карты")
		@Html.TextBoxFor(m => m.CreditCard)
		@Html.ValidationMessageFor(m => m.CreditCard, "0000-0000-0000-0000")
	</div>

	<div>
		@Html.LabelFor(m => m.CardHolderName, "Имя держателя карты")
		@Html.TextBoxFor(m => m.CardHolderName)
		@Html.ValidationMessageFor(m => m.CardHolderName, "FIRSTNAME LASTNAME")
	</div>

	<div>
		@Html.LabelFor(m => m.Expires, "Срок действия")
		@Html.TextBoxFor(m => m.Expires)
		@Html.ValidationMessageFor(m => m.Expires, "MM/YY")
	</div>

	<div>
		@Html.LabelFor(m => m.CvvCode, "CVV")
		@Html.PasswordFor(m => m.CvvCode)
		@Html.ValidationMessageFor(m => m.CvvCode, "***")
	</div>

	<button type="submit"> Оплатить </button>
}